.main-container {
  padding: 50px 75px 63px 75px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 45px;
  margin-top: 45px;
}

.example-card {
  box-sizing: border-box;
  width: 400px !important;
  height: 530px;
}

.card-image {
  max-width: 400px;
  max-height: 217px;
  object-fit: cover; /* Scale an image while maintaining aspect ratio */
}

.home-title, .read-more {
  font-weight: bold;
}

.home-results {
  margin: 40px 0 5px;
}

/* Input field styles */
.custom-form-field .mat-icon {
  font-size: 24px !important;
  color: #575757 !important;
  padding: 15px 20px;
}

.custom-form-field {
  width: 600px;
  height: 50px;
  display: flex;
  align-items: center;
}

.custom-form-field input {
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  line-height: normal;
}

/* Calendar icon */
.mat-icon.mat-icon-no-color {
  font-size: 16px !important;
  height: 16px;
  width: 16px;
  line-height: 16px;
  margin-right: 8px;
}

/* Date */
.mat-mdc-card-subtitle{
  font-size: 14px;
  padding-bottom: 25px;
  padding-top: 25px;
  align-items: center;
  display: flex;
}

/* Date & title */
.mat-mdc-card-header {
  display: flex;
  padding: 25px 16px 20px 16px;
}

.mat-mdc-card-title {
  font-size: 24px;
}

.mat-mdc-card-content {
  font-size: 16px;
  line-height: 150%;
}
