@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

@include mat.core();

$primary: mat.m2-define-palette(mat.$m2-indigo-palette, A400, A100, A700);
$accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);

$theme: mat.m2-define-light-theme((
  color: (
    primary: $primary,
    accent: $accent
  ),
  typography: (
    plain: (
      font-family: 'Montserrat, sans-serif',
    ),
    brand: (
      font-family: 'Montserrat, sans-serif',
      font-weight: 600,
    )
  )
));

@include mat.all-component-themes($theme);
