.article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.article-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.article-content {
  background-color: white;
  width: 90%;
  max-width: 1290px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: -100px;
  z-index: 1;
  position: relative;
  border-radius: 5px;
  border: 1px solid #EAEAEA;
  line-height: 150%;
}

.article-header {
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: #363636;
  padding: 50px 75px 0 75px;
}

.article-text {
  font-size: 18px;
  color: #000000;
  margin: 0;
  padding: 50px 75px;
}

.read-full {
  padding: 0 75px 50px 75px;
}

.back-link-container {
  display: flex;
  justify-content: flex-start;
  width: 90%;
  max-width: 1290px;
  margin: 35px 0 0 150px;
}

.back-link {
  display: flex;
  align-items: center;
  color: #363636 !important;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;

  &:hover {
    text-decoration: underline;
  }

  mat-icon {
    margin-right: 8px;
  }
}
